<div
    id="dropdown-menu"
    class={`
        flex flex-col gap-1 
        absolute top-full right-0 scale-y-0 
        group-hover:scale-y-100 origin-top duration-200
    `}
>
    <slot />
</div>
