---
import { i18n } from "@lib/i18n";

interface Props {
    startDate: string;
    endDate?: string;
}

const { startDate, endDate } = Astro.props;

const currentLocale = Astro.currentLocale;

const displayEndDate = endDate || i18n[currentLocale ?? "en"].timeline.actual;
---

<div class="flex flex-col items-center gap-1 py-2">
    <time>{displayEndDate}</time>
    <span class="flex-grow rounded-sm w-1"></span>
    <time>{startDate}</time>
</div>

<style>
    span {
        background-color: var(--color-foreground-7);
    }
</style>
