---
import Link from "./Link.astro";

interface Props {
    links: { label: string; href: string }[];
}

const { links } = Astro.props;
---

<nav class="flex flex-grow gap-5 justify-between items-center">
    <div class="flex flex-row gap-5">
        <div
            id="indicator"
            class="absolute rounded-lg transition-all duration-300 ease-in-out"
        >
        </div>
        {
            links.map((link) => (
                <Link class="py-1 px-2 relative z-10" href={link.href}>
                    {link.label}
                </Link>
            ))
        }
    </div>
</nav>

<script src="/src/scripts/navigationMenu.ts"></script>

<style>
    #indicator {
        background: var(--color-background);
    }
</style>
