---
import ExpirienceCard from "./ExpirienceCard.astro";
import Section from "./Section.astro";

import { expirience } from "cv.json";
---

<Section id="experience" title="Experience" class="flex flex-col gap-10">
    {expirience.map((item) => <ExpirienceCard expirience={item} />)}
</Section>
