---

---

<header class="h-24 flex items-center justify-center text-lg">
    <nav class="rounded-lg w-fit">
        <ul class="flex gap-5 px-3 py-2">
            <li class="px-2 py-1 rounded-md" data-selected="true">
                <a href="#hero">Home</a>
            </li>
            <li class="px-2 py-1 rounded-md">
                <a href="#expirience">Expirience</a>
            </li>
            <li class="px-2 py-1 rounded-md">
                <a href="#education">Education</a>
            </li>
            <li class="px-2 py-1 rounded-md">
                <a href="#projects">Projects</a>
            </li>
            <li class="px-2 py-1 rounded-md">
                <a href="#skills">Skills</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    nav {
        background: var(--color-foreground-7);
    }

    li[data-selected] {
        background: var(--color-secondary);
    }
</style>
