---
import Badge from "./Badge.astro";

interface Props {
    project: {
        name: string;
        description: string;
        image: string;
        link: string;
        stack: string[];
    };
}

const { name, description, image, link, stack } = Astro.props.project;
---

<article class="flex flex-col gap-6">
    <figure>
        <img src={image} class="w-full rounded-3xl" alt="project image" />
    </figure>
    <header>
        <h3>{name}</h3>
        <p>{description}</p>
    </header>
    <footer class="flex justify-between">
        <div class="flex gap-2">
            {stack.map((item) => <Badge>{item}</Badge>)}
        </div>
        <button>Explore</button>
    </footer>
</article>
