---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="gradient"></div>
		<div class="content max-sm:px-9"><slot /></div>
	</body>
</html>

<style is:global>
	:root {
		--color-primary: #342152;
		--color-secondary: #271248;
		--color-background: #171717;
		--color-foreground: #eeeeee;
		--color-foreground-7: #eeeeee0d;
		--color-foreground-80: #eeeeeecf;
	}

	@font-face {
		font-family: "Poppins";
		src: url("/fonts/poppins/Poppins.ttf") format("truetype");
		font-display: swap;
		font-style: normal;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		scroll-behavior: smooth;
	}

	body {
		background-color: var(--color-background);
		margin: 0;
		position: relative;
	}

	.gradient {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: radial-gradient(
			90% 40% at 50% 10%,
			var(--color-primary),
			var(--color-background)
		);
		z-index: -1;
	}

	.content {
		position: relative;
		z-index: 1;
		margin-inline: auto;
		width: 800px;
		color: var(--color-foreground);
		font-family: Poppins, sans-serif;
	}
</style>
